{{input value=model.name placeholder="name"}}
{{input value=model.key placeholder="key"}}
{{input value=model.genre placeholder="genre"}}

<button {{action (route-action 'save')}}>save</button>

{{outlet}}
